<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>인예의 Wordcount하트</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!--폰트-->
   
    <style>
        h1{
            font-family: 'Sunflower', sans-serif;
            color: #f75c5c;
            font-size:50px;
            

        }
        
        body{
            background-image: url("./image/main_mutsa.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>ABOUT</h1>

<p> 멋쟁이 사자처럼 글자세주기 프로그램입니다 짱짱</p>

<a href="{% url 'home' %}"><button type="button" class="btn btn-danger">Home으로 돌아가기</button></a>